@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.navigasi {
    font-family: Bebas Neue, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}
.logo-ppdb {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-image: url(/pic/bg3.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}
.logo-ppdb img {
    height: 100px;
    max-width: 100%;
}
.logo-ppdb p {
    font-size: 25px;
    text-transform: uppercase;
}
a {
    color: #fff;
    text-decoration: none;
}
.table-container {
    backdrop-filter: blur(10px);
    background-color: rgba(7, 65, 115, 0.3);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
    color: #000;
    font-weight: bold;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    margin: 10px;
    padding: 10px;
}
.bagian-formulir {
    grid-column: span 2 / span 2;
}
.formulir {
    border-radius: 10px;
    height: 500px;
    margin: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
}
.boxTextForm {
    font-size: 25px;
    margin-bottom: 1rem;
    padding-top: 7px;
}
.boxTextForm label {
    margin-bottom: 20px;
}
.inputtext {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
}
.inputtext,
.isi-option {
    padding: 10px;
    width: 100%;
}
.isi-option {
    border-radius: 10px;
}
.btnSimpan {
    background-size: cover;
    font-size: 20px;
    min-width: auto;
    padding: 10px;
    width: 50%;
}
.btnSimpan,
.jdl {
    background-color: #074173;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}
.jdl {
    align-items: center;
    display: flex;
    flex: 1 1 30%;
    font-family: Oswald, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400px;
    justify-content: center;
    margin: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.isijdl {
    grid-template-columns: 1fr;
}
.isijdl,
.list-jurusan {
    display: grid;
    height: 250px;
    justify-items: center;
    padding-top: 5%;
}
.list-jurusan {
    grid-template-columns: 1fr 1fr 1fr;
}
.daftar {
    align-items: center;
    background-color: #074173;
    border-radius: 20px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    font-family: Oswald, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400px;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
.daftar a {
    font-size: 40px;
    text-transform: uppercase;
}
footer {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin-top: 50px;
    padding: 20px;
}
.footer-right {
    text-align: right;
}
.footer-right p {
    margin: 5px 0;
}
.footer-right a {
    color: #4caf50;
    text-decoration: none;
}
.footer-right a:hover {
    text-decoration: underline;
}
.social-media a {
    color: #4caf50;
    margin: 0 5px;
    text-decoration: none;
}
.social-media a:hover {
    text-decoration: underline;
}
.bagian-persyaratan img,
.jurusan img {
    height: 200px;
}
@media screen and (max-width: 1024px) {
    header {
        font-size: 30px;
    }
    .logo-ppdb img {
        height: 60px;
    }
    .logo-ppdb p {
        font-size: 18px;
    }
    .table-container {
        gap: 10px;
        grid-template-columns: 1fr;
        padding: 15px;
    }
    .formulir {
        height: auto;
        overflow-y: hidden;
    }
    .bagian-formulir {
        grid-column: span 1 / span 1;
    }
    .isijdl,
    .jdl {
        flex: 1 1 100%;
    }
    .isijdl,
    .jdl {
        font-size: 18px;
    }
    .list-jurusan {
        grid-template-columns: 1fr 1fr 1fr;
        height: auto;
    }
    .list-jurusan img {
        height: 150px;
    }
    .list-jurusan a {
        padding-top: 5%;
    }
    .daftar a {
        font-size: 20px;
    }
    footer {
        justify-content: center;
        padding-right: 0;
    }
}
@media screen and (max-width: 768px) {
    header {
        font-size: 30px;
    }
    .logo-ppdb img {
        height: 60px;
    }
    .logo-ppdb p {
        font-size: 18px;
    }
    .table-container {
        grid-template-columns: 1fr;
        height: auto;
    }
    .isijdl,
    .jdl {
        flex: 1 1 100%;
    }
    .isijdl,
    .jdl {
        font-size: 18px;
    }
    .list-jurusan {
        grid-template-columns: 1fr;
        height: auto;
    }
    .list-jurusan img {
        height: 130px;
    }
    .list-jurusan a {
        padding-top: 5%;
    }
    .daftar a {
        font-size: 20px;
    }
    footer {
        justify-content: center;
        padding-right: 0;
    }
}
