nav ul {
    border-radius: 20px;
    list-style-type: none;
    margin: 0;
    background-color: rgba(7, 65, 115, 1);
    display: flex; /* Gunakan Flexbox */
    justify-content: center; /* Pusatkan elemen di tengah secara horizontal */
}

nav li {
    position: relative; /* Penting untuk dropdown */
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    border-radius: 10px;
    background-color: rgba(7, 50, 80, 1);
}

nav li ul {
    display: none; /* Sembunyikan dropdown secara default */
    position: absolute; /* Letakkan dropdown di bawah parent */
    top: 100%; /* Dropdown muncul di bawah menu utama */
    left: 0;
    background-color: rgba(7, 65, 115, 1);
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: auto; /* Lebar minimum dropdown */
    z-index: 1000; /* Pastikan dropdown berada di atas elemen lain */
}

nav li ul li {
    width: 100%;
}

nav li ul li a {
    font-size: 20px;
    color: white;
    text-align: left; /* Sesuaikan teks dropdown */
}

nav li ul li a:hover {
    font-size: 20px;
    border-radius: 20px;
    background-color: rgba(7, 50, 80, 1); /* Warna hover untuk dropdown */
}

/* Tampilkan dropdown saat di-hover */
nav li:hover ul {
    display: block; /* Dropdown muncul saat menu di-hover */
}